*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* REGOLE DI DEBUG --------------------------------- */

/* DEBUG MAIN -------------------------------------- */

/* DEBUG FOOTER ------------------------------------ */

/* REGOLE DI CSS ----------------------------------- */
/* REGOLE GENERALI --------------------------------- */

/* MAIN -------------------------------------------- */

/* FOOTER ------------------------------------------ */

/* MEDIA QUERY ------------------------------------- */

/* ANIMAZIONI -------------------------------------- */


