*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* REGOLE DI DEBUG --------------------------------- */

/* DEBUG MAIN -------------------------------------- */

.debug main{
    background-color: red;
    color: white;
}

.debug main nav, 
.debug main .container-item{
    border: 2px dashed white;
}

.debug .debug-item{
    background-color: aqua;
    max-width: 300px;
    aspect-ratio: 1/1;
}

/* DEBUG ASIDE ------------------------------------- */

/* DEBUG FOOTER ------------------------------------ */

/* REGOLE DI CSS ----------------------------------- */
/* REGOLE GENERALI --------------------------------- */

.d-flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.justify-center{
    justify-content: center;
}

.justify-start{
    justify-content: flex-start;
}

ul{
    list-style: none;
}


/* MAIN -------------------------------------------- */

main{
    height: calc(100vh - 5.5rem);
}

.banner-fix{
    background-color: rgba(255, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 3rem);
    height: 5.5rem;
}

aside{
    background-color: #000000;
    width: 3rem;
}

.content{
    background-color: #141922;
    width: calc(100% - 3rem);
    overflow-y: auto;
    padding-top: 6.5rem;
    padding-left: 1.5rem;
    padding: 6.5rem 1.5rem 1.5rem;
}


.container-item-content{
    width: 50%;
    padding: 0.5rem 0.5rem 0 0;
}

main section{
    margin-top: 2.5rem;
}

/* FOOTER ------------------------------------------ */

footer{
    background-color: #282828;
    height: 5.5rem;
}

/* MEDIA QUERY ------------------------------------- */

@media screen and (min-width: 576px){
    .banner-fix{
        width: calc(100% - 14rem);
    }
    
    aside{
        width: 14rem;
    }
    
    .content{
        width: calc(100% - 14rem);
    }
}

@media screen and (min-width: 768px){
    .container-item-content{
        width: calc(100% / 4);
    }
}

@media screen and (min-width: 992px){
    .container-item-content{
        width: calc(100% / 6);
    }
}

/* ANIMAZIONI -------------------------------------- */


